In [3]:
import pandas as pd
from pivottablejs import pivot_ui

ModuleNotFoundError: No module named 'pivottablejs'

In [5]:
pip install pivottablejs

Requirement already satisfied: pivottablejs in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (23.2.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install pivottablejs

Requirement already satisfied: pivottablejs in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (0.9.0)Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
from pivottablejs import pivot_ui

In [11]:
df = pd.read_csv("Data/apple_products.csv")

In [12]:
df.head

<bound method NDFrame.head of                                 Product Name  \
0          APPLE iPhone 8 Plus (Gold, 64 GB)
1   APPLE iPhone 8 Plus (Space Grey, 256 GB)
2       APPLE iPhone 8 Plus (Silver, 256 GB)
3            APPLE iPhone 8 (Silver, 256 GB)
4              APPLE iPhone 8 (Gold, 256 GB)
..                                       ...
57            APPLE iPhone SE (Black, 64 GB)
58           APPLE iPhone 11 (Purple, 64 GB)
59            APPLE iPhone 11 (White, 64 GB)
60            APPLE iPhone 11 (Black, 64 GB)
61              APPLE iPhone 11 (Red, 64 GB)

                                          Product URL  Brand  Sale Price  \
0   https://www.flipkart.com/apple-iphone-8-plus-g...  Apple       49900
1   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
2   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
3   https://www.flipkart.com/apple-iphone-8-silver...  Apple       77000
4   https://www.flipkart.com/apple-iphone-8-gold-2...  Apple       77000
..                                                ...    ...         ...
57  https://www.flipkart.com/apple-iphone-se-black...  Apple       29999
58  https://www.flipkart.com/apple-iphone-11-purpl...  Apple       46999
59  https://www.flipkart.com/apple-iphone-11-white...  Apple       46999
60  https://www.flipkart.com/apple-iphone-11-black...  Apple       46999
61  https://www.flipkart.com/apple-iphone-11-red-6...  Apple       46999

      Mrp  Discount Percentage  Number Of Ratings  Number Of Reviews  \
0   49900                    0               3431                356
1   84900                    0               3431                356
2   84900                    0               3431                356
3   77000                    0              11202                794
4   77000                    0              11202                794
..    ...                  ...                ...                ...
57  39900                   24              95909               8161
58  54900                   14              43470               3331
59  54900                   14              43470               3331
60  54900                   14              43470               3331
61  54900                   14              43470               3331

                 Upc  Star Rating   Ram
0   MOBEXRGV7EHHTGUH          4.6  2 GB
1   MOBEXRGVAC6TJT4F          4.6  2 GB
2   MOBEXRGVGETABXWZ          4.6  2 GB
3   MOBEXRGVMZWUHCBA          4.5  2 GB
4   MOBEXRGVPK7PFEJZ          4.5  2 GB
..               ...          ...   ...
57  MOBFWQ6BR3MK7AUG          4.5  4 GB
58  MOBFWQ6BTFFJKGKE          4.6  4 GB
59  MOBFWQ6BVWVEH3XE          4.6  4 GB
60  MOBFWQ6BXGJCEYNY          4.6  4 GB
61  MOBFWQ6BYYV3FCU7          4.6  4 GB

[62 rows x 11 columns]>

In [13]:
df.head(2)

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB

In [14]:
pivot_ui(df)